// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: "Rajdhani";
  src: url('../../fonts/Rajdhani-Regular.ttf')
  url('../../fonts/Rajdhani-Medium.ttf')
  url('../../fonts/Rajdhani-Light.ttf')
  url('../../fonts/Rajdhani-Bold.ttf')
  url('../../fonts/Rajdhani-SemiBold.ttf')
}

@font-face {
  font-family: "TeX Gyre Adventor";
  src: url('../../fonts/texgyreadventor-regular.otf')
  url('../../fonts/texgyreadventor-italic.otf')
  url('../../fonts/texgyreadventor-bolditalic.otf')
  url('../../fonts/texgyreadventor-bold.otf')  
}
